
#headcolor{
  background: linear-gradient(#fa8072, #ffff);
}


.timeline {
  position: relative;
  margin: 30px 0;
  padding-left: 80px;
  border-left: 2px solid #ffd0ca; /* Fijne lijn */
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.timeline-item:hover {
  transform: translateY(-5px); /* Klein zweefeffect */
}

.timeline-item::before {
  content: attr(data-year);
  position: absolute;
  left: -70px;
  top: -5px;
  font-size: 18px;
  font-weight: bold;
  color: #0a0707;
}

.timeline-content {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.balloon {
  position: relative;
  background: #f1f1f1;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.balloon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f1f1f1 transparent transparent;
  transform: translateY(-50%);
}

.timeline-item:hover .balloon {
  background: #ffd0ca;
  color: #040303;
}

.year {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.description {
  font-size: 0.95rem;
  color: #6c757d;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
}

.day {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #f1f3f5;
}

.unavailable {
  background-color: #8b94983f;
  cursor: not-allowed;
  border: 1px solid #f5c6cb;
}

.available {
  background-color: #c3e6cb;
  color: #155724;
  border: 1px solid #c3e6cb;
  cursor: pointer;
}

.day-number {
  font-size: 1.2rem;
  font-weight: bold;
}

#month-select {
  font-size: 1.2rem;
}



