
#headcolor{
  background: linear-gradient(#fa8072, #ffff);
}


.timeline {
  position: relative;
  margin: 30px 0;
  padding-left: 80px;
  border-left: 2px solid #ffd0ca; /* Fijne lijn */
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.timeline-item:hover {
  transform: translateY(-5px); /* Klein zweefeffect */
}

.timeline-item::before {
  content: attr(data-year);
  position: absolute;
  left: -70px;
  top: -5px;
  font-size: 18px;
  font-weight: bold;
  color: #0a0707;
}

.timeline-content {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.balloon {
  position: relative;
  background: #f1f1f1;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.balloon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f1f1f1 transparent transparent;
  transform: translateY(-50%);
}

.timeline-item:hover .balloon {
  background: #ffd0ca;
  color: #040303;
}

.year {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

aside {
  max-width: 100%; /* Zorgt ervoor dat aside nooit buiten de container gaat */
  padding: 10px;
  box-sizing: border-box;
}

/* Algemene stijl voor de kalender */
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 kolommen voor dagen van de week */
  gap: 3px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.calendar div {
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
}

/* Stijl voor de header (dagen van de week) */
.calendar .header {
  font-weight: bold;
  background-color: #e9ecef;
  color: #495057;
}

/* Stijl voor beschikbare dagen */
.calendar .available {
  background-color: #d4edda; /* Lichtgroen */
  border: 1px solid #c3e6cb;
  color: black; /* Donkergroen */
  cursor: pointer;
}

/* Stijl voor niet-beschikbare dagen */
.calendar .unavailable {
  background-color: #dfe2e5; /* Lichtrood */
  border: 1px solid #dfe2e5;
  color: black; /* Donkerrood */
  cursor: not-allowed;
}

/* Optioneel: Hover-effect */
.calendar div:hover {
  filter: brightness(0.95);
  
}

.display-7{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.card-img-top {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.hover-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(245, 245, 245, 0.95); /* Lichtgrijze achtergrondschaduw */
}

#map {
  height: 400px; /* Stel de hoogte van de kaart in */
  margin-top: 20px;
}

#btncolor{
  background-color: #f8cdc8;
}
