#headcolor{
  background: linear-gradient(#fa8072, #ffff);
}

aside {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
}

#timeline {
  margin-top: 20px;
}

.timeline-card {
  background: white;
  transition: transform 0.2s ease-in-out;
}

.timeline-card:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
}

.year {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.description {
  font-size: 0.95rem;
  color: #6c757d;
}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.2rem;
}

.day {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #f1f3f5;
}

.unavailable {
  background-color: #8b94983f;
  cursor: not-allowed;
}

.available {
  background-color: #c3e6cb;
  color: #155724;
}

.day-number {
  font-size: 1.2rem;
  font-weight: bold;
}

#month-select {
  font-size: 1.2rem;
}
